
.Panel {
    width: calc(100% -  (2 * var(--indent-20)) );
    min-height: 100dvh;
    margin: 0 auto;
    margin-top: var(--indent-60);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap--40);
}