.PostHeader {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap--4);
}

.Time {
    opacity: var(--opacity-50);
}

.PostHeaderInfo {
    display: flex;
    align-items: center;
    align-self: stretch;

    gap: var(--gap--8);
}

