.SelectCountry {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-shrink: 0;

    gap: 40px;

    width: 100dvw;
    height: 70dvh;
    padding-top: var(--indent-60);
    padding-bottom: 0;

    background: var(--internal--body_color);
    border-radius: var(--border_radius--36);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    position: absolute;
    z-index: 1;
    bottom: 0;

    box-shadow: var(--shadow);

    will-change: transform;
}

.Content {
    display: block;
    overflow-y: auto;
    width: 100%;
    padding-bottom: var(--indent-20);
}